@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Rowdies:wght@300;400;700&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Rowdies", cursive;
}

.left__h1 {
  position: relative;
  left: 250px;
}

.content {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  /* position: relative; */
}

.text {
  position: absolute;
  color: #000000;
  font-size: 18px;
  top: 150px;
  left: 40px;
}

.stuff-1 {
  position: relative;
  top: 190px;
  left: 100px;
}

input {
  margin: 10px;
  position: relative;
}

.label-1 {
  position: relative;
  right: 80px;
}

.text-2 {
  position: absolute;
  color: #000000;
  font-size: 18px;
  top: 350px;
  left: 20px;
}

.stuff-2 {
  position: relative;
  top: 380px;
  right: 220px;
}
.text-3 {
  position: absolute;
  color: #000000;
  font-size: 18px;
  top: 500px;
  right: 295px;
}

.stuff-3 {
  position: relative;
  top: 520px;
  right: 320px;
}

.input-3 {
  width: 200%;
  all: 0;
}

.slider {
  position: absolute;
  left: 260px;
  bottom: 30px;
}

.text-4 {
  position: absolute;
  color: #000000;
  font-size: 18px;
  top: 650px;
  left: 20px;
}

.stuff-4 {
  position: relative;
  top: 680px;
  right: 500px;
}

.text-5 {
  position: absolute;
  color: #000000;
  font-size: 18px;
  top: 800px;
  left: 85px;
}

.stuff-5 {
  position: relative;
  top: 810px;
  right: 400px;
}

.input-5 {
  width: 200%;
  all: 0;
}

.right {
  height: 130vh;
}
