@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Rowdies:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Rowdies", cursive;
}

.container {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.left {
  position: relative;
  width: 50vw;
  background-color: white;
}
.right {
  position: relative;
  width: 50vw;
  background-color: #151718;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fe3b1f;
  font-size: 48px;
  position: absolute;
  top: 70px;
  left: 110px;
}

p {
  width: 70%;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 200%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left-h1 {
  position: relative;
  left: 120px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 120px;
}

input {
  padding: 10px;
  margin: 15px;
  width: 45%;
  font-style: italic;
}

.slider {
  position: absolute;
  left: 280px;
  bottom: 90px;
}
img {
  margin: 5px;
}
